@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import "tailwindcss";

@theme {
  --font-roboto: "Roboto", sans-serif;
}

@theme {
  --color-accent: #a4b39f;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
